* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fefdf6;
}

header {
  background-color: #a890bf;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-family: DynaPuff;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.marca {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.marca img {
  height: 100px;
}

.marca h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: Cinzel Decorative;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding-top: 30px;
  align-items: center;
}

.menu a.login-link {
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0;
}

.menu a.login-link img.login {
  width: 75px;
  height: auto;
}

.menu a.menu-link {
  width: 100px;
  height: 36px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.menu a.menu-link:hover {
  color: #fff1bc;
  transform: scale(1.1);
}


@media (max-width: 950px) {
  .container {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 20px;
  }
}

@media (max-width: 600px) {

  .faq-question {
    font-size: 16px;
  }

  .faq-toggle {
    font-size: 26px;
  }

  .faq-answer {
    font-size: 15px;
    padding: 0px 15px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #222;
}

.container {
  align-items: center;
  justify-content: center;
  margin: 250px;
  padding: 30px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  color: #a890bf ;
}

.faq-item {
  margin-bottom: 25px;
  position: relative;
  cursor: pointer;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
}

.faq-toggle {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  line-height: 20px;
  transition: 0.2s;
  user-select: none;
  color: #7878ff;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
  margin-top: 10px;
  background: #b8b8f5;
  padding: 0px 20px; 
  border-radius: 6px;
  color: white;
}

.faq-answer.open {
  padding: 20px;
}

.faq-answer ul {
  padding-left: 18px;
  line-height: 1.7em;
  margin: 0;
}

.side {
  text-align: center;
}

.side img {
  width: 85%;
  max-width: 450px;
}

.side p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.6em;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.credit {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}

.btn {
  margin-top: 30px;
  background: #b8b8f5;
  padding: 18px 40px;
  display: inline-block;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  transition: 0.2s;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.85;
}

footer {
  margin-top: 200px;
  background-color: #a890bf;
  color: white;
  padding: 15px 0;
  margin-top: 40px;
  font-family: DynaPuff;
  border: 5px outset #9465c0;;
}

.titulo_footer {
  padding-top: 60px;
  font-size: 35px;
  margin-bottom: 60px;
  margin-left: 50px;
  border-bottom: 2px solid #9465c0;
  width: 650px;
}

.titulo_footer h1 {
  margin-bottom: 10px;
}

.main_footer {
  display: flex;
  height: 200px;
  gap: 30%;
  margin-left: 50px;
}

.texto_botao {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  width: 30%;
}


.texto_botao button {
  width: 35%;
  background-color: #f5b4b9;
  border: none;
  color: white;
  font-size: 20px;
  height: 55px;
  font-family: DynaPuff;
  border: 2px dashed #f58e97;
}

.texto p {
  margin-bottom: 10px;
}

.contatos {
  display: flex;
  height: 100%;
  width: 40%;
  gap: 90px;
}

.fileira1, .fileira2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fileira1 {
  font-size: 17px;
}

.fileira2 {
  color: #fff1bc;
  font-family: Sour Gummy;
}

.logos_footer {
  display: flex;
  justify-content: end;
  height: 100px;
}

.icones_footer {
  margin-right: 100px;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: space-around;
}

.icones_footer img {
  height: 60px;
  width: auto;

}

.faq-answer {
  /* *** CHAVES PARA O FECHAMENTO/TRANSIÇÃO SUAVE *** */
  max-height: 0; 
  overflow: hidden;
  transition: max-height .4s ease;
  
  /* ... Outras propriedades de estilo ... */
  margin-top: 10px;
  background: #b8b8f5;
  padding: 0px 20px; 
  border-radius: 6px;
  color: white;
}

.faq-answer.open {
  /* Esta classe é adicionada pelo JS */
  padding: 20px; /* Altera o padding no estado aberto */
  /* O max-height é definido pelo JavaScript */
}
