@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #fff1bc, #f5b4b9);
}

header {
  background-color: #a890bf;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-family: DynaPuff;
}

.marca {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.marca img {
  height: 100px;
}

.marca h1 {
  font-size: 55px;
  font-weight: bold;
  font-family: Cinzel Decorative;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding-top: 30px;
  align-items: center;
}

.menu a.login-link {
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0;
}

.menu a.login-link img.login {
  width: 75px;
  height: auto;
}

.menu a.menu-link {
  width: 100px;
  height: 36px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.4s ease;
}

.menu a.menu-link:hover {
  color: #fff1bc;
  transform: scale(1.1);
}

.super-hero {
  background-color: transparent;
  display: flex;
  justify-content: center;
  color: #b296ca;
  margin-top: 50px;
  font-family: DynaPuff;
}

.hero {
  background-image: radial-gradient(circle, #fff1bc, #f5b4b9);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  align-items: center;
}

.professor {
  background-color: #fff1bc;
  height: 300px;
  border-radius: 26px;
  margin-bottom: 75px;
  width: 70%;
}

.professor_hero {
  display: flex;
  align-items: center;
  background-color: #f5b4b9;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 50px;
  padding-left: 30px;
  color: rgb(255, 255, 255);
  font-family: DynaPuff;
}

.professor_vilain {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  height: 100%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  font-family: Sour Gummy;
}

.img {
  background-color: #fff1bc;
  width: 40%;
  height: 100%;
  border-bottom-left-radius: 25px;
  align-items: center;
  display: flex;
  justify-content: left;
  padding-left: 25px;
}

.img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.descricao {
  border-top: 3px dashed #8650b9;
  border-bottom: 3px dashed #8650b9;
  width: 60%;
  height: 100%;
  border-bottom-right-radius: 25px;
  background-color :#bea3d4;
  font-family: Sour Gummy;
  display: flex;
}

.detalhes h2 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.detalhes {
  margin-left: 40px;
  height: 80%;
}

.professor_villain .detalhes img {
  margin-top: 23px;
  height: 200px;
  width: 200px;
  margin-left: 30px;
}

.professor_descricao {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  gap: 15px;
  align-items: center;
}

.icones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}

.logos img {   
  width: 30px;
  height: auto;

}

.materias {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-right: 3px dashed #8650b9;
  border-left: 3px dashed #8650b9;
}

.imagens_materias {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.backend img, .projetos img {
  width: 70px;
}

/*qualidades*/

.qualidades {
  width: 33.3%;
  padding: 20px 10px 0px 10px;
  border-right: 3px dashed #8650b9;
}

.qualidade_titulo {
  display: flex;
  justify-content: center;
}

.titulo {
  margin-top: 20px;
}

.icones_qualidades {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.linguagens img, .itens img{
  width: 40px;
  height: auto;
}

.hobbies {
  padding-top: 20px;
  width: 33.4%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 3px dashed #8650b9;
  border-bottom-right-radius: 25px;
}

.itens {
  margin-top: 10px;
}

.hp, .codar, .dar_prova {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

