* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(250, 250, 239);
}

header {
    display: flex;
    background-color: #f5cbcf; 
    color: rgb(250, 250, 239);
    height: 100px;
    align-items: center;
    justify-content: center;
}

.titulos {
    display: flex;
    justify-content: space-evenly;
    color: #b296ca;
}

.objetos {
    display: flex;
    width: 215px;
    justify-content: center;
    margin-top: 10px;
}

.super-hero {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0px;
    width: 100%;
    background-image: radial-gradient(circle, #fff1bc, #f5b4b9);
    height: 300px; 
    border-radius: 10px;
    align-items: center;
}

.vertentes {
    flex-direction: column;
    display: flex;
    background-color: #fff1bc;
    color: #b296ca;
    height: 280px;
    align-items: center;
    justify-content: center;
    width: 215px;
    border-radius: 10px;
}

.vertentes:hover {
    box-shadow: 0px 0px 15px 5px white;
}

.vertentes img {
    height: 250px;
    width: 190px;
    object-fit: cover;
    transition: transform 0.5s ease;
    object-fit: cover;
    border-radius: 10px;
}

.vertentes img:hover {
    transform: scale(1.07);
}

.imagem-msd {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.imagem-msd .img-msd {
    width: auto;
    height: 250px;
}

.mid-text {
    margin-top: 60px;
    width: 100%;
    height: 200px;
    background-color: rgb(250, 250, 239);
    display: flex;
    justify-content: center;
}

.sobre {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre h1{
    margin-bottom: 20px;
    color: #004A9F;;
}