@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #fff1bc, #f5b4b9);
    filter: blur(10px);
    z-index: -1;
  }
  
  main {
    position: relative;
    z-index: 1;
    background-color: #A890BF;
    padding: 32px 40px;
    width: 500px;
    margin: 90px auto 0 auto;
    border-radius: 30px;
    box-shadow: 0 2px 8px rgba(255, 255, 255, 0.4);
    border: 4px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    color: white;   
    font-family: DynaPuff;
 
  }

header {
  background-color: #A890BF;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-family: DynaPuff;
}

.marca {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.marca img {
  height: 100px;
}


.marca h1 {
  font-size: 55px;
  font-weight: bold;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 0px;
  padding-top: 30px;
  align-items: center;
}

.menu a.login-link {
  background-color: transparent;
  width: auto;
  height: auto;
  padding: 0;
}

.menu a.login-link img.login {
  width: 75px;
  height: auto;

}

.menu a.menu-link {
  width: 100px;
  height: 36px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10PX;
  transition: transform 0.4s ease;
}


.menu a.menu-link:hover {
  color: #fff1bc;   
  transform: scale(1.1);
}
  
  .botao,
  .botao:hover {
    display: flex;
    justify-content: center;
  }
  
  .botao button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transform: translateY(-2px);
    transform: scale(1.1);
  }

  #font-button {
    color: #A890BF;
  }
  
  .usuario,
  .senha {
    display: flex;
    justify-content: center;
  }
  
  .usuario input,
  .senha input {
    color: rgb(255, 255, 255);
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    border: none;
    padding: 17px 45px 0px 0px;
    border-bottom: rgb(255, 255, 255) 2px solid;
    font-size: larger;
    margin-bottom: 30px;
    outline: none;
  }
  
  .usuario input::placeholder,
  .senha input::placeholder {
    color: rgb(255, 255, 255);
    display: inline-block;
    transition: all 0.5s ease;
    font-family: Sour Gummy;
  }
  
  .usuario input:hover::placeholder,
  .senha input:hover::placeholder {
    color: rgb(255, 255, 255);
    transform: translateY(-27px);
  }
  
  main h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    font-size: 40px;
  }
  
  .login-redes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .login-redes img {
    width: 400px;
    height: 45px;
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .login-redes img:hover {
    transform: scale(1.05);
  }
  
  .botao button {
    margin: 30px;
    width: 150px;
    height: 47px;
    border-radius: 25px;
    border: none;
    transition: all 0.5s ease;
    transition: transform 0.4s ease;
    font-size: 20px;
    font-weight: bold;
    font-family: Sour Gummy;
    background-color: white;
  }
  
  .cadastro a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }